{% extends "basic.html" %}
{% block content %}

<div class="jumbotron">
  <br>
  <h2>Welocme to Flask bootcamp</h2>
  <br>
  <p>Please register with a valid username and password</p>
  <br>
  <p>Please enter a valid username</p>
  <br>
  <p>It should follow the following rules</p>
  <ul>
    <li>
      <p>It should contain a lowecase letter</p>
    </li>
    <li>
      <p>It should contain a uppercase letter</p>
    </li>
    <li>
      <p>It should have a number in the end</p>
    </li>
  </ul>
  <br>
  <form action="{{url_for('report')}}">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="txt" class="form-control" id="username" placeholder="username" name="username">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}